docker/n8n-workflows/daily-lead-summary.json
{
  "name": "Royal Group - Daily Lead Summary Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Daily 8 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": 50,
        "options": {
          "orderBy": "dateAdded",
          "orderByDir": "DESC"
        }
      },
      "id": "mautic-2",
      "name": "Get Recent Contacts",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [470, 300],
      "credentials": {
        "mauticApi": {
          "id": "1",
          "name": "Mautic API"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a real estate business analyst. Summarize the lead data and provide actionable insights for the sales team."
            },
            {
              "role": "user",
              "content": "=Analyze these recent leads and provide a daily summary with insights:\n\n{{ JSON.stringify($json, null, 2) }}\n\nProvide:\n1. Quick stats (total leads, hot leads)\n2. Top priorities for today\n3. Any patterns or insights"
            }
          ]
        },
        "options": {
          "baseUrl": "http://host.docker.internal:11434"
        }
      },
      "id": "ollama-3",
      "name": "AI Summary Generation",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "fromEmail": "automation@royalgroup-ev.com",
        "toEmail": "jennifer@royalgroup-ev.com",
        "subject": "=Daily Lead Summary - {{ $now.format('MMMM d, yyyy') }}",
        "emailFormat": "html",
        "html": "=<html><body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n<div style=\"background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%); color: white; padding: 30px; text-align: center;\">\n<h1 style=\"margin: 0; font-family: 'Playfair Display', serif;\">Royal Group | Engel & Völkers</h1>\n<p style=\"margin: 10px 0 0 0; opacity: 0.8;\">Daily Lead Intelligence Report</p>\n</div>\n<div style=\"padding: 30px; background: #f9f9f9;\">\n<h2 style=\"color: #1a1a2e;\">AI-Generated Summary</h2>\n<div style=\"background: white; padding: 20px; border-radius: 8px; border-left: 4px solid #c9a227;\">\n{{ $json.message.content }}\n</div>\n<hr style=\"border: none; border-top: 1px solid #ddd; margin: 30px 0;\">\n<p style=\"color: #666; font-size: 12px; text-align: center;\">Generated by AI • Royal Group Automation Platform</p>\n</div>\n</body></html>"
      },
      "id": "email-1",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Daily 8 AM Trigger": {
      "main": [
        [
          {
            "node": "Get Recent Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Contacts": {
      "main": [
        [
          {
            "node": "AI Summary Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summary Generation": {
      "main": [
        [
          {
            "node": "Send Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Lead Management"
    },
    {
      "name": "Email"
    }
  ],
  "triggerCount": 1
}
